.item {
    width: 20%;
    height: 80px;
    display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 2px;
	font-family: 'helvetica', san-serif;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: center;
    border-radius: 3px;
    cursor: pointer;
}