.item {
    width: 50px;
    height: 100px;
    display: inline-block;
	position: relative;
	vertical-align: top;
	margin: 2px;
	font-family: 'helvetica', san-serif;
	
	outline: none;
	text-align: center;
    border-radius: 3px;
    cursor: pointer;
	object-fit: cover;

	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  
}