.App {
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  /* background-image: url(./backgrounds/pexels-aleksandar-pasaric-3310691.jpg); */
  background-color: #ffffffe5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header h1{
  color: #fff;
  text-align: center;
  text-decoration: none;
  outline: none;

  width: 22ch;
  animation: typing 10s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
.game-container{
 
  width: 70%;
  height: 100%;
  margin-left: 15%;
  margin-top:2%;
 
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, [col] 25%);
  grid-template-rows: repeat(auto-fill, [row] auto  );
  grid-gap: 5px;
 

}

.box {
  background-color: #30b837;
  color: #fff;
  border-radius: 5px;
  padding: 5%;
  font-size: 150%;
  
  /* box-shadow: rgba(216, 24, 24, 0.56) 0px 22px 70px 4px; */
}
.change {
  background-color: #09302e;

}
.bottom {
  background-color: #09302e;
}
.a {
  grid-column: col;
  grid-row: row;
}
.b{
  grid-column: col 2 / span 2;
  grid-row: row;
}
.c {
  background-color: #09302e;
  grid-column: col 4;
  grid-row: row;
}



.busket-container{
  
  /* background-image: url('./images/basket/shoppingbag.png'); */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  background-color: #000000e0;

  grid-column: col 2 /span 2;
  grid-row: row 2 ;
  
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}
.busket-container .busket-image img{
  width: 70%;
  height: 110%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0.5;

  grid-column: col 2 /span 2;
  grid-row: row 2 ;
}

.busket-items{
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 10;
  
  
  position: absolute;


  grid-column: col 2 /span 2;
  grid-row: row 2 ;
  
  object-fit: contain;
}


.show-items-left {
  
  grid-column: col;
  grid-row: row 2;
}

.show-items-right{


  grid-column: col 4 ;
  grid-row: row 2 ;
}



.show-items-bottom{
  grid-column: col / span 3;
    grid-row: row 3;
    
}

.d {
  grid-column: col 4;
  grid-row: row 3;
}
.box button {
  width: 150px;
  height: 50px;
  background-color: #30b837;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.box button:hover {
  background-color: #30b83773;
  
}
p{
  font-size: 17px;
  font-family: 'helvetica', san-serif;
}


#clock {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease-in-out; 
  user-select: none;
  cursor: pointer;
  border-radius: 2em;
  padding: 0.5em 1em;
  backface-visibility: hidden;
  transition: all 0.5s;
  &:hover {
    background: $clock-hover;
  }
  #info {
    width: 100%;
    #time { 
      font-size: 6em; 
      display: inline-block;
    }
    #date {
      margin-top: 1.8em;
      margin-bottom: 0.2em;
      font-size: 2em; 
      display: inline-block;
    }
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


#controls {
  #slider {
    display: block;
    cursor: pointer;
    width: $switch-size*4;
    height: $switch-size*3;
    transition: $switch-transition;
    position: relative;
    div {
      position: absolute;
      content: "";
      height: $switch-size;
      width: $switch-size;
      left: 4px;
      bottom: 4px;
      background-color: white;
      border-radius: 50%;
      transition: $switch-transition;
    }
    #slider2 {
      -webkit-transform: translateX($switch-distance);
      -ms-transform: translateX($switch-distance);
      transform: translateX($switch-distance);
    }
  }
}

.fade {
  opacity: 0.5;
}

.active {
  opacity: 1;
}


@media screen and (max-width: 750px) {
  #clock {
    #info {
      #time {
        font-size: 4.5em; 
      }
      #date {
        font-size: 1.5em; 
      }
    }
  }
}

@media screen and (max-width: 450px) {
  #clock {
    #info {
      #time {
        font-size: 3em; 
      }
      #date {
        font-size: 1em; 
      }
    }
  }
}
